<p>mcstm-calendar works!</p>
<div class="mcstm-calendar-block">
    <input type="text" (click)="toggleCalendar()" #calendarInput />
    {{calendarMode$ | async}}
    <div class="mcstm-calendar" *ngIf="isOpened$ | async" #calendarBlock >



      <container-element [ngSwitch]="calendarMode$ | async">

        <div *ngSwitchCase="CalendarMode.Days">
          <div *ngFor='let in of counter(42) ;let i = index' class="day">{{i}}</div>
        </div>
        <div *ngSwitchCase="CalendarMode.Months">Месяцы</div>
        <div *ngSwitchCase="CalendarMode.Years">Годы</div>

      </container-element>


    </div>
</div>


