<div class="mcstm-calendar">
    <input type="text" (click)="toggleCalendar()" #calendarInput class="mcstm-calendar-input" />
      <container-element [ngSwitch]="calendarMode$ | async" *ngIf="isOpened$ | async" #calendarBlock>

        <ng-container *ngSwitchCase="CalendarMode.Days">
          <app-mcstm-calendar-day></app-mcstm-calendar-day>
        </ng-container>
        <ng-container *ngSwitchCase="CalendarMode.Months">
          <app-mcstm-calendar-month></app-mcstm-calendar-month>
        </ng-container>
        <ng-container *ngSwitchCase="CalendarMode.Years">
          <app-mcstm-calendar-year></app-mcstm-calendar-year>
        </ng-container>

      </container-element>
</div>


