.mcstm-calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;

  .day {
    cursor: pointer;
    padding: 2px 0 1px 0;
    text-align: center;
    border-radius: 50%;
  }

  .day.today {
    background: lightblue;
  }

  .day.selected {
    background-color: bisque;
  }

  .day.holyday {
    background: red;
  }

  .day.selected.today {
    background: rgb(153,204,204);
    background: linear-gradient(180deg, rgba(153,204,204,1) 46%, rgba(255,228,196,1) 47%);
  }

  .day.selected.holyday {
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 46%, rgba(255,228,196,1) 47%);
  }

  .day.today.holyday {
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 46%, rgba(153,204,204,1) 47%);
  }

  .day.today.holyday.selected {
    background: rgb(255,228,196);
    background: linear-gradient(180deg, rgba(255,228,196,1) 24%, rgba(255,0,0,1) 47%, rgba(153,204,204,1) 66%);
    border:1px dashed #000000;
  }

  /*
  #99cccc - blue
  #ffe4c4 - bisque
  red - #FF0000
  */

  .day.empty {
    cursor: default;
  }

  .week-day {
    font-weight: bold;
  }

}

.mcstm-calendar__days_navigation {
  border-bottom: 1px solid #000000;
  display: grid;
  grid-template-columns: 16px auto 16px;

  .arrow {
    cursor: pointer;
    font-size: 16px;
  }

  .mcstm-calendar__days_navigation_current-month {
    text-align: center;
  }
}



