.mcstm-calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;

  .day {
    cursor: pointer;
    padding: 2px 0 1px 0;
    text-align: center;
    border-radius: 50%;
  }

  .day.today {
    background: lightblue;
  }

  .day.selected {
    background-color: bisque;
  }

  .day.event {
    background: red;
  }

  .day.empty {
    cursor: default;
  }

  .week-day {
    font-weight: bold;
  }

}

.mcstm-calendar__days_navigation {
  border-bottom: 1px solid #000000;
  display: grid;
  grid-template-columns: 16px auto 16px;

  .arrow {
    cursor: pointer;
    font-size: 16px;
  }

  .mcstm-calendar__days_navigation_current-month {
    text-align: center;
  }
}



