<!--
{{ (countDays$ | async)  }}
{{startWeekDay$ | async}}
{{timePeriodMonthInfo$ | async }}
-->

  <div class="mcstm-calendar__days_navigation">
    <div class="arrow" (click)="goPrevMonth()">&#9664;</div>
    <div></div>
    <div class="arrow" (click)="goNextMonth()">&#9654;</div>
  </div>
  <div class="mcstm-calendar__days">

     <div class="week-day">Пн</div>
     <div class="week-day">Вт</div>
     <div class="week-day">Ср</div>
     <div class="week-day">Чт</div>
     <div class="week-day">Пт</div>
     <div class="week-day">Сб</div>
     <div class="week-day">Вс</div>

    <ng-container *ngIf="timePeriodMonthInfo$ | async as info">
      <ng-container *ngIf="timePeriodMonthInfo$ | async as info">
        <ng-container *ngFor='let day of info.days;let i = index' >
          <div [ngClass]="{
            'day': 'true',
            'empty': !day.dayNum,
            'selected': false
          }" (click)="day.dayNum ? selectDate($event) : null">
            {{day.dayNum}}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

